:host {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  // height: 55px;
  z-index: 1000;
  background: #444;
  color: #eee;
  font-size: 1em;
  -webkit-app-region: drag;
}

a {
  color: #ccc;
}

a:hover {
  text-decoration: none;
}

nav {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . .";
}

.logo {
  font-size: 1.1em;
  padding: 15px;
  color:#fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;

  .active {
    li {
      // background-color: #007bff  ;
      background-color: #555;
      // border-top: 5px #007bff solid;
      // border-bottom: 5px #007bff solid;
    }
  }
}

li {
  float: left;
  justify-content: center;
  height: 100%;
  padding: 15px;
  cursor: pointer;
  -webkit-app-region: no-drag;

  &:hover {
    background-color: #555;
  }
}

.right {
  > * {
    float: left;
  }
}
