<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><i aria-hidden="true"
      class="v-icon notranslate mdi mdi-format-align-bottom theme--dark"></i> {{ 'Overlay Manager' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <!-- <app-status></app-status> -->
        <li class="nav-item">
          <a class="nav-link" href="/home"><i aria-hidden="true"
              class="v-icon notranslate mdi mdi-view-dashboard-variant theme--dark"></i> {{ 'Home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings"><i aria-hidden="true"
              class="v-icon notranslate mdi mdi-cog theme--dark"></i> {{ 'Einstellungen' | translate }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
