<div>
  <h5>{{ "Einstellungen" | translate }}</h5>
</div>
<div>
  <h5>{{ "Tools" | translate }}</h5>
  <button class="btn btn-secondary" (click)="openModal('importModal')">
    <i
      aria-hidden="true"
      class="v-icon notranslate mdi mdi-application-import theme--dark"
    ></i>
    {{ "Import" | translate }}
  </button>
  <button class="btn btn-info" (click)="overlayServerService.getExportFile()">
    <i
      aria-hidden="true"
      class="v-icon notranslate mdi mdi-content-save theme--dark"
    ></i>
    {{ "Export" | translate }}
  </button>
  <button
    class="btn btn-warning"
    (click)="openModal('confirmCleanUpOverlaysModal')"
  >
    <i
      aria-hidden="true"
      class="v-icon notranslate mdi mdi-lock-reset theme--dark"
    ></i>
    {{ "Aufräumen" | translate }}
  </button>
</div>
<div>
  <h5>{{ "Overlay Server Einstellungen" | translate }}</h5>

  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
        <label for="hostname">{{ "Hostname" | translate }}</label>
        <input
          type="name"
          class="form-control"
          id="hostname"
          placeholder="Hostname / IP Adresse von overlay-server"
          aria-describedby="nameHelp"
          [(ngModel)]="settingsService.settings.websocket.host"
        />
      </div>
      <div class="form-group">
        <label for="port">{{ "Port" | translate }}</label>
        <input
          type="number"
          class="form-control"
          id="port"
          placeholder="Port"
          aria-describedby="nameHelp"
          [(ngModel)]="settingsService.settings.websocket.port"
        />
      </div>
      <div class="form-group">
        <label for="authCode">{{ "AuthCode" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="authCode"
          placeholder="AuthCode"
          aria-describedby="nameHelp"
          [(ngModel)]="settingsService.settings.websocket.authCode"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" (click)="onUserClickResetConfig()">
          Settings zurücksetzen
        </button>
        <button
          *ngIf="!settingsService.areSettingsPristine()"
          class="btn btn-warning"
          (click)="onUserClickCancelButton()"
        >
          Abbrechen
        </button>
        <button
          *ngIf="
            !settingsService.areSettingsPristine() ||
            !settingsService.isConfigAvailable
          "
          class="btn btn-success"
          (click)="onUserClickSaveButton()"
        >
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<jw-modal id="confirmCleanUpOverlaysModal">
  <div class="modalTitle">Overlays aufräumen</div>
  <div class="modalBody">
    <p>
      Möchtest du wirklich alle Overlays ohne aktivierten Schreibschutz löschen?
      Es bleiben nur die Overlays die den Schreibschutz aktiviert haben übrig.
      Alle anderen Overlays werden endgültig gelöscht.
    </p>
    <p>
      Diese Funktion ist nützlich um vor einer neuen Veranstaltung alle nicht
      benötigten Overlays zu entfernen.
    </p>
  </div>
  <div class="modalFooter button-bar">
    <button
      class="btn btn-secondary"
      (click)="closeModal('confirmCleanUpOverlaysModal')"
    >
      Abbrechen
    </button>
    <button
      class="btn btn-danger"
      (click)="onUserConfirmedOberlayCleanUp('confirmCleanUpOverlaysModal')"
    >
      Ja, Overlays ohne Schreibschutz löschen
    </button>
  </div>
</jw-modal>

<jw-modal id="importModal">
  <div class="modalTitle">Overlays importieren</div>
  <div class="modalBody">
    <input
      type="file"
      value="Import"
      (change)="handleFileInput($event.target.files)"
    /><br />
  </div>
  <div class="modalFooter button-bar">
    <button class="btn btn-secondary" (click)="closeModal('importModal')">
      Abbrechen
    </button>
    <button
      [attr.disabled]="fileCantBeImported"
      class="btn btn-danger"
      (click)="onUserClickImportAndOverwriteFile()"
    >
      Ja, bestehende Overlays löschen und importieren
    </button>
    <button
      [attr.disabled]="fileCantBeImported"
      class="btn btn-success"
      (click)="onUserClickImportAndMergeFile()"
    >
      Ja, Overlays importieren und hinzufügen
    </button>
  </div>
</jw-modal>
