body {
    background-color: rgb(41, 41, 44);
    color: #eee;
}

.bg-dark {
    background-color: #444 !important;
}

.bg-light {
    background-color: #555 !important;
}

.list-group {
    border-radius: 0;
}

.panel, .panel-footer, .panel-header {
    border-radius: 0 !important;
}

.panel {
    background-color: #333;
}

.panel-body {
    padding: 14px 14px;
}

.panel-footer {
    padding: 14px 14px;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    background-color: #444;
    color: #eee;
}

.form-control:focus {
    color: #eee;
    background-color: #444;
}

.buttonSubtitle {
    font-size:x-small;
}

.preview {
    background-color: #444; margin-bottom: 14px;
}

.hidden {
    display: none;
}

.online {
    color: rgb(15, 199, 15);
}

.offline {
    color: red;
}
