<!doctype html>
<html lang="en">
	<head>
		<title>overlay-manager</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/main.css">
	</head>
	<body data-spy="scroll" data-target="#mainnav" data-offset="0">
        {% block content %}{% endblock %}
        <script src="/vendor/jquery/jquery.min.js"></script>
    	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>