{% extends "base.html" %}

{% block content %}
<h4>asd</h4>
<div class="row">
  <div class="col-xs-3 col-sm-3">
    <h5>All Overlays</h5>

    <div class="panel">
      <ul class="list-group">
        <button type="menu" class="list-group-item active text-left ">test<div class="buttonSubtitle">subtitle</div></button>
        <button type="menu" class="list-group-item btn-dark text-left">test<div class="buttonSubtitle">subtitle</div></button>
        <button type="menu" class="list-group-item btn-dark text-left">test<div class="buttonSubtitle">subtitle</div></button>
        <button type="menu" class="list-group-item btn-dark text-left">test<div class="buttonSubtitle">subtitle</div></button>
      </ul>  
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6 col-sm-6">
          <button class="btn btn-primary"><i aria-hidden="true" class="v-icon notranslate mdi mdi-plus-box-outline theme--dark"></i> New Overlay</button>
            </div>
        </div>
      </div>
  </div>
  </div>
  <div class="col-xs-4 col-sm-4">
    <h5>Edit Overlay</h5>
    <div class="panel">
      <div class="panel-body">
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="name" class="form-control" id="name" aria-describedby="nameHelp">
          <small id="nameHelp" class="form-text text-muted">First line</small>
        </div>
        <div class="form-group">
          <label for="exampleInputName">Subtitle</label>
          <input type="name" class="form-control" id="name" aria-describedby="nameHelp">
          <small id="nameHelp" class="form-text text-muted">Second line</small>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-danger"><i aria-hidden="true" class="v-icon notranslate mdi mdi-trash-can theme--dark"></i> Remove</button>
        <span class="float-right btn-group">
        <button class="btn btn-dark"><i aria-hidden="true" class="v-icon notranslate mdi mdi-cancel theme--dark"></i> Cancel</button>
        <button class="btn btn-primary"><i aria-hidden="true" class="v-icon notranslate mdi mdi-check-outline theme--dark"></i> Save</button>
      </span>
    </div>
  </div>
  </div>
  <div class="col w-auto">
    <h5>Preview</h5>
    <div class="btn-group">
      <button type="menu" class="btn btn-secondary">Monitor 1</button>
    </div>
    <div class="previews tab-content">
      <div id="preview0" class="preview tab-pane active embed-responsive embed-responsive-16by9"></div>
    </div>
    
    <h5>Live Control</h5>
    <div class="panel">
      <div class="panel-body">
        <button class="btn btn-primary"><i aria-hidden="true" class="v-icon notranslate mdi mdi-camera-timer theme--dark"></i> Show for 10 Seconds</button>
        <span class="float-right btn-group">
        <button class="btn btn-success"><i aria-hidden="true" class="v-icon notranslate mdi mdi-play theme--dark"></i> Show</button>
        <button class="btn btn-danger"><i aria-hidden="true" class="v-icon notranslate mdi mdi-stop theme--dark"></i> Hide</button></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}{% endblock %}