<div class="left-column">
  <!-- <h5>{{ "Liste" | translate }}</h5> -->
  <app-overlay-list
    [(selectedOverlay)]="selectedOverlay"
    (selectOverlay)="overlaySelected($event)"
  ></app-overlay-list>
</div>
<div class="middle-column">
  <div *ngIf="selectedOverlay">
    <app-overlay-edit
      [(selectedOverlay)]="selectedOverlay"
      (closedOverlay)="closeOverlay()"
    ></app-overlay-edit>
  </div>
</div>
<div class="right-column" *ngIf="selectedOverlay">
  <h5>{{ "Vorschau" | translate }}</h5>
  <!-- <div class="btn-group">
      <button type="menu" class="btn btn-secondary">Monitor 1</button>
    </div> -->
  <div class="previews tab-content">
    <div
      id="preview0"
      class="preview tab-pane active embed-responsive embed-responsive-16by9"
    ></div>
  </div>

  <h5>{{ " Live Control" | translate }}</h5>
  <div class="panel">
    <div class="panel-body">
      <button class="btn btn-primary">
        <i
          aria-hidden="true"
          class="v-icon notranslate mdi mdi-camera-timer theme--dark"
        ></i>
        {{ "Anzeigen für 10 Sekunen" | translate }}
      </button>
      <button class="btn btn-secondary">
        {{ "Geöffnet lassen" | translate }}
      </button>
      <span class="float-right btn-group">
        <button class="btn btn-success">
          <i
            aria-hidden="true"
            class="v-icon notranslate mdi mdi-play theme--dark"
          ></i>
          {{ "Einblenden" | translate }}
        </button>
        <button class="btn btn-danger">
          <i
            aria-hidden="true"
            class="v-icon notranslate mdi mdi-stop theme--dark"
          ></i>
          {{ "Ausblenden" | translate }}
        </button></span
      >
    </div>
  </div>
</div>
